streamlit
langchain-community
langchain-core
langchain-text-splitters
arxiv
pymupdf
faiss-cpu
pypdf
httpx
sniffio
requests
streamlit_agraph
xlsxwriter
pandas
langchain

langchain-openai
sentence-transformers
streamlit-agraph


