streamlit
langchain-community
langchain-core
langchain-text-splitters
arxiv
pymupdf
faiss-cpu
pypdf
httpx
sniffio
requests
streamlit_agraph
xlsxwriter
pandas

# Google Gemini 核心依赖 (新增)
langchain-google-genai
google-generativeai

# 增强工具
langchain






